# {{ ansible_managed }}

[Unit]
Description=Mailcatcher

[Service]
Type=simple
User={{ mailcatcher_user }}
Group={{ mailcatcher_group }} 
ExecStart={{ mailcatcher_path }} --foreground --no-quit \
   --smtp-ip {{ mailcatcher_smtp_ip }} --smtp-port {{ mailcatcher_smtp_port }} \
   --http-ip {{ mailcatcher_http_ip }} --http-port {{ mailcatcher_http_port }}
ExecStop=/bin/kill -s QUIT $MAINPID
{% if mailcatcher_grant_capabilities is defined and mailcatcher_grant_capabilities %}
AmbientCapabilities=CAP_NET_BIND_SERVICE
{% endif %}

[Install]
WantedBy=multi-user.target

# vim: set ft=systemd:
